{% extends 'head.html' %}
{% load static %}
{% block title %}{% endblock %}

{% block content %}
<div class="box box-solid bg-teal-gradient">

  <div class="box-header">

    <i class="fa fa-th"></i>
    <h3 class="box-title">Gráfico de Ventas</h3>

  </div>

  <div class="box-body border-radius-none nuevoGraficoVentas">

    <div class="chart" id="line-chart-ventas" style="height: 250px;"></div>

  </div>

</div>
{% endblock %}

{% block body_scripts %}
<script src="{% static 'js/grafica_ventas.js' %}"></script>
{% endblock %}